.md-typeset a img {
  cursor: zoom-in;
}

.md-typeset a img:active {
  cursor: zoom-out;
}
  
.md-typeset a img:active {
    cursor: zoom-out;
  }
  
.md-typeset .admonition.info,
.md-typeset details.info {
  background-color: white;  /* Lichtblauw uit Blue 50 */
  border-color: #90CAF9;      /* Randkleur uit Blue 200 */
}

.md-typeset .admonition.info > .admonition-title,
.md-typeset details.info > summary {
  background-color: #E3F2FD;  /* Titelbalk uit Blue 100 */
  color: #0D47A1;             /* Tekstkleur uit Blue 900 */
}

/* Zorg dat de afstand tussen de mneu-items in de linkerkolom genoeg afstand hebben */
.md-nav__item--nested:not(:first-child) {
  margin-top: 1em;
}
.md-nav__item--nested:not(:last-child) {
  margin-bottom: 1em;
}
=======
.md-nav__item--nested:not(:first-child) {
  margin-top: 0.8em;
}  